body{
    background-color: rgb(241, 185, 195);
}
.container{
    margin: 50px auto;
    background-color: hotpink;
    border-radius: 20px;
    padding: 10px;
    width: 600px;
    justify-content: center;
    display: flex;
}
#Titulo{
    color: violet;
}
#Titulo2{
    color: rgb(3, 3, 3);
}
.fundoazul {
    color: darkmagenta;
}
input {
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-top: 10px;
}
label{
    display:block;
    margin-bottom: 8px;
    justify-content: center;
    display: flex;
}
